<!DOCTYPE html>
<html lang="de">
  <head>
    
  </head>

  <body>
    Hello World
    <h1>Crawling Home Page</h1>
 
<p>Here's our crawling home page.</p>
 
<p>Please visit <a href="#">this other page</a> too!</p>

 <h2> Es wurden {{ courses|length }} Kurse gefunden </h2>
  </body>
</html>
